*.docx filter=lfs diff=lfs merge=lfs -text
*.doc filter=lfs diff=lfs merge=lfs -text
*.pdf filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.ppt filter=lfs diff=lfs merge=lfs -text
*.pptx filter=lfs diff=lfs merge=lfs -text
*.mp3 filter=lfs diff=lfs merge=lfs -text
*.m4a filter=lfs diff=lfs merge=lfs -text
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.xmind filter=lfs diff=lfs merge=lfs -text
*.pdz filter=lfs diff=lfs merge=lfs -text
*.docx !text !filter !merge !diff
*.doc !text !filter !merge !diff
*.pdf !text !filter !merge !diff
*.zip !text !filter !merge !diff
*.rar !text !filter !merge !diff
*.ppt !text !filter !merge !diff
*.pptx !text !filter !merge !diff
*.mp3 !text !filter !merge !diff
*.m4a !text !filter !merge !diff
*.png !text !filter !merge !diff
*.jpg !text !filter !merge !diff
*.xmind !text !filter !merge !diff
*.pdz !text !filter !merge !diff
